.footer {
    background: var(--black);
    width: 100%;
    height: 300px;
    margin-top: 50px;
    padding: 45px 30px 30px;
    /* padding: 50px 35% 30px 40px; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;
}

.footer_logos {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.footer_logo {
    width: 50%;

    overflow: hidden;
    cursor: pointer;

    display: grid;
    place-items: center;
}

.footer_logo img {
    width: 100%;
    filter: invert(1);
}

.footer_desc {
    font-size: 10px;
    font-weight: 400;
    color: var(--white);
    line-height: 15px;
}

.footer_desc br {
    display: none;
}

.footer_socials {

    display: flex;
    align-items: center;
    column-gap: 7px;
}

.footer_social_container {
    background: var(--white);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;

    transition: background 0.3s;

    display: grid;
    place-items: center;
}

.footer_social_container i {
    color: var(--black);
    font-size: 18px;
    transition: color 0.3s;
}

.footer_social_container:hover {
    background: var(--blue);
}

.footer_social_container:hover i {
    color: var(--white);
}

@media (min-width: 680px) {
    .footer {
        height: 350px;
        padding-right: 40%;
    }

    .footer_logo {
        width: 180px;
    }

    .footer_desc {
        font-size: 12px;
        line-height: 24px;
    }

    .footer_desc br {
        display: unset;
    }

    .footer_socials {
        column-gap: 12px;
    }

    .footer_social_container {
        width: 45px;
        height: 45px;
    }

    .footer_social_container i {
        font-size: 22px;
    }
}