.footer {
    background: var(--black);
    width: 100%;
    height: 280px;
    margin-top: 50px;
    padding: 50px 100px 30px 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
}

.footer_logo {
    width: 160px;

    overflow: hidden;
    cursor: pointer;

    display: grid;
    place-items: center;
}

.footer_logo img {
    width: 100%;
    filter: invert(1);
}

.footer_desc {
    font-size: 10px;
    font-weight: 400;
    color: var(--white);
    line-height: 17px;
}

.footer_socials {

    display: flex;
    align-items: center;
    column-gap: 7px;
}

.footer_social_container {
    background: var(--white);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;

    transition: background 0.3s;

    display: grid;
    place-items: center;
}

.footer_social_container i {
    color: var(--black);
    font-size: 18px;
    transition: color 0.3s;
}

.footer_social_container:hover {
    background: var(--blue);
}

.footer_social_container:hover i {
    color: var(--white);
}