body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background: var(--white);
    overflow-x: hidden;

    font-family: 'Inter', sans-serif;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    width: 100%;
    height: 580px;
}

.hero {
    padding: 0px 50px;
    height: 620px;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.hero_title {
    font-family: 'Calistoga';
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
}

.hero_subtitle {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.manual_list{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manual_items{
    position: relative;
    width: 313px;
    min-height: 96px;
    margin-bottom: 42px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.manual_title {
    width: 260px;
    padding: 25px 0;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 550;
    color: #F7F4EF;
    text-align: center;
}

.manual_items:nth-child(odd){
    background-image: linear-gradient(55deg, var(--blue) , var(--zoom_secondary));
}

.manual_items:nth-child(even){
    background-image: linear-gradient(55deg, var(--zoom_secondary) , var(--blue));
}

.manual_button {
    display: none;
}

@media only screen and (min-width: 414px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .manual_items{
        width: 352px;
        min-height: 96px;
        margin-bottom: 42px;
    }
    
    .manual_title {
        width: 260px;
        font-size: 22px;
    }    
    
    .manual_button {
        display: none;
    }
    
}

@media only screen and (min-width: 768px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .manual_items{
        width: 700px;
        min-height: 96px;
    }
    
    .manual_title {
        width: 600px;
        padding: 25px 0;
        font-size: 25px;
    }    
    
    .manual_button {
        display: none;
    }
    
}

@media only screen and (min-width: 1024px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 80px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .manual_items{
        width: 962px;
        min-height: 96px;
        margin-bottom: 42px;
        justify-content: center;
    }
    
    .manual_title {
        width: 900px;
        padding: 25px 90px;

        font-size: 28px;
        text-align: center;
    }    

    .manual_button {
       display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .hero_title {
        font-family: 'Calistoga';
        font-size: 80px;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: center;
    }

    .manual_items{
        width: 1232px;
        min-height: 96px;
        margin-bottom: 42px;
        justify-content: left;
    }
    
    .manual_title {
        width: 900px;
        padding: 25px 90px;

        font-size: 25px;
        text-align: left;
    }    

    .manual_button {
        width: 227px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 10px;
        background-color: var(--white);

        font-size: 19px;
        font-weight: 1000;
        color: var(--blue);
    }
}